<section class="seccion">

    

    <div class="contenedor">

        <!-- TITULOS -->


        <div class="titulos">

            <div class="titulo-seccion">
                <h1>Contacto</h1>
                <h2>Contact</h2>
            </div>
            <div class="conten-edicion">
           <div class="edicion" *ngIf="rolActivo != 'Visitante'"> <!-- solo visible para usuario logeado -->



                    <mat-icon (click)="contactosmodal.Show()"> <!-- boton llama el form modal con el metodo de show -->
                        
                        add</mat-icon>

                    </div>
                </div>
            </div>
        </div>

        <!-- SEPARADOR -->
        <div class="separador"></div>

<div class="cont">
        <div class="contenido">
            <div class="contenedor-form">

                <form class="form" [formGroup]="formEmail" (ngSubmit)="enviarMensaje()" >


                <mat-form-field class="input" appearance="standard">
                    <mat-label class="label">Email</mat-label>
                    <input class="input" type="email" matInput placeholder="Ex. pat@example.com" formControlName="emailDe" value="">
                </mat-form-field>

                <mat-form-field class="input" appearance="standard">
                    <mat-label class="label">Asunto</mat-label>
                    <input class="input" matInput placeholder="Placeholder" formControlName="asunto" value="">
                </mat-form-field>

                <mat-form-field class="input" appearance="standard">
                    <mat-label class="label">Mensaje</mat-label>
                    <textarea class="input textarea " type="text" matInput placeholder="Descripción..." matInput
                        autocomplete="off" formControlName="mensaje" value=""> </textarea>
                </mat-form-field>

                <button class="btn-form" type="submit"> Enviar</button>
            </form>

            </div>

            </div>


       

        <div class="contenedor-textos">

            <p> <b> Gracias por mirar mi Porfolio espero que te haya gustado!!!</b> <br> <br> Para poder contactarme puedes mandarme un Email desde esta misma página, por WhatsApp o por cualquiera de mis redes.</p>
<div class="redes">
    <div *ngFor="let Contacto of datos" class="redes-icon">
       
       
        <div class="edicion-card" *ngIf="rolActivo != 'Visitante'"> <!-- Solo es visible si el usuario esta logeado, no es un visitante -->

            <!-- boton llama el formulario modal con el metodo de editar -->
            <button mat-icon-button 
              (click)="contactosmodal.ShowEditar(Contacto.id,Contacto.red_social,Contacto.img_red,Contacto.url_red)">
              <mat-icon class="sin-fondo">edit </mat-icon>
            </button>
            <!-- boton llama al metodo eliminar con la id -->
            <button mat-icon-button  (click)="borrar(Contacto.id)">
              <mat-icon class="sin-fondo">delete </mat-icon>
            </button>
          </div>


   <a class="red" href="{{Contacto.url_red}}" target="_blank"><img  [src]="Contacto.img_red"  alt="{{Contacto.red_social}}" class="logo"></a>
   

   </div>
    <!--  <mat-icon>add</mat-icon>
    <mat-icon>add</mat-icon>
    <mat-icon>add</mat-icon>
    <mat-icon>add</mat-icon> -->
    <!-- 
    <img src=".\assets\img\facebook.png" alt="" class="logo">
    <img src=".\assets\img\insta.png" alt="" class="logo">
    <img src=".\assets\img\linkedin.png" alt="" class="logo">
    <img src=".\assets\img\twiter.png" alt="" class="logo">
    -->
</div>
</div>
        </div>
  <!--   </div> -->
  <!--  MODAL -->
  <app-contactomodal #contactosmodal> </app-contactomodal> <!-- formulario modal -->
</section>