<section class="seccion">

    

    <div class="contenedor">

        <!-- TITULOS -->


        <div class="titulos">

            <div class="titulo-seccion">
                <h1>Contacto</h1>
                <h2>Contact</h2>
            </div>
            <div class="conten-edicion">
           <div class="edicion" *ngIf="rolActivo != 'Visitante'"> <!-- solo visible para usuario logeado -->



                    <mat-icon> <!-- boton llama el form modal con el metodo de show -->
                        add</mat-icon>

                    </div>
                </div>
            </div>
        </div>

        <!-- SEPARADOR -->
        <div class="separador"></div>

<div class="cont">
        <div class="contenido">
            <div class="contenedor-form">

                <form class="form" [formGroup]="formEmail" (ngSubmit)="enviarMensaje()" >


                <mat-form-field class="input" appearance="standard">
                    <mat-label class="label">Email</mat-label>
                    <input class="input" type="email" matInput placeholder="Ex. pat@example.com" formControlName="emailDe" value="">
                </mat-form-field>

                <mat-form-field class="input" appearance="standard">
                    <mat-label class="label">Asunto</mat-label>
                    <input class="input" matInput placeholder="Placeholder" formControlName="asunto" value="">
                </mat-form-field>

                <mat-form-field class="input" appearance="standard">
                    <mat-label class="label">Mensaje</mat-label>
                    <textarea class="input textarea " type="text" matInput placeholder="Descripción..." matInput
                        autocomplete="off" formControlName="mensaje" value=""> </textarea>
                </mat-form-field>

                <button class="btn-form" type="submit"> Enviar</button>
            </form>

            </div>

            </div>


       

        <div class="contenedor-textos">

            <p>si queres contactarte conmigo enviame un mensaje desde <br> esta misma web o por medio de las
                siguientes formas </p>
<div class="redes">
   <!--  <mat-icon>add</mat-icon>
    <mat-icon>add</mat-icon>
    <mat-icon>add</mat-icon>
    <mat-icon>add</mat-icon> -->
    <img src=".\assets\img\git.png" alt="" class="logo">
    <img src=".\assets\img\facebook.png" alt="" class="logo">
    <img src=".\assets\img\insta.png" alt="" class="logo">
    <img src=".\assets\img\linkedin.png" alt="" class="logo">
    <img src=".\assets\img\twiter.png" alt="" class="logo">
   
</div>
</div>
        </div>
  <!--   </div> -->
</section>