<!-- NAVBAR -->


<nav class="navbar">
  <a aria-label="Chat on WhatsApp" href="https://wa.me/2323674223" target="_blank" class="wapp"> <img alt="Chat on WhatsApp" src=".\assets\img\wapp2.png" /> </a>
  <div class="items">
    <div class="logo">
      <img src=".\assets\img\APLogo.png" alt="" class="logo">
    
    </div>
    <div class="menu">
    
      <a href="#" class="user" *ngIf="roles=='Administrador'"> <mat-icon
          class="usericon">manage_accounts</mat-icon>{{nombreUsuario}}: Admin</a>
      <a href="#" class="user" *ngIf="roles=='Usuario'"><mat-icon class="usericon">account_circle</mat-icon>
        {{nombreUsuario}}</a>


      <p href="#" class="user" *ngIf="roles=='Administrador'"> <mat-icon
          class="usericon">manage_accounts</mat-icon>{{nombreUsuario}}: Admin</p>
      <p href="#" class="user" *ngIf="roles=='Usuario'"><mat-icon class="usericon">account_circle</mat-icon>
        {{nombreUsuario}}</p>
     

      <a (click)="login.Show()" *ngIf="!usuarioLogged" href="#" class="btn--login ">Iniciar Sesión</a>
      


      <a (click)="login.logOut()" *ngIf="usuarioLogged" href="#" class="btn--login btn">Cerrar Sesión</a>
      <a (click)="login.logOut()" *ngIf="usuarioLogged" href="#" class="iconlogout"> <mat-icon
          class="usericon">logout</mat-icon></a>
    </div>
  </div>
</nav>

<app-login [titulo]="'hola'" #login></app-login>