.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: rgb(58, 58, 58);
  height: 60px;
}

.navbar .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  margin: auto 20px;
  font-weight: 100;
  color: rgb(46, 198, 236);
  position: relative;
  top: -10px;
  font-size: 15px;
  padding: 5px;
}
.menu .btn--login {
  background-color: rgb(88, 187, 226);
  padding: 10px 10px;
  color: rgb(254, 254, 254);
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
}

.menu .btn--login:hover {
  background-color: rgb(56, 126, 154);
}
.menu .btn--login.btn {
  background-color: rgba(226, 88, 88, 0.552);
}

.logo {
  margin: auto 7px;
  position: relative;
  height: 80px;
  width: 130px;
  top: -5px;
}

.usericon {
  vertical-align: middle;
}

.iconlogout .usericon {
  display: none;
}
p.user {
  display: none;
}

@media (max-width: 1000px) {
  .btn--login.btn {
    display: none;
  }

  .iconlogout .usericon {
    display: inline;
    color: aliceblue;
    background-color: rgba(226, 88, 88, 0.658);
    border-radius: 50%;
    padding: 5px;
  }

  .menu a {
    font-size: 15px;
    padding: 5px;

    margin: 10px;
  }
}

@media (max-width: 500px) {
  .menu {
    padding: 3px;
    margin: 3px;
  }
  .menu a {
    font-size: 12px;
    margin: 1px;
  }
  .user .usericon {
    display: none;
  }
}
@media (max-width: 350px) {
  .user {
    display: none;
  }
}
